<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
</style>
<style>
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');
</style>
.nav{
  height:50px;
  background:blue;
}
.nav div{
  display:inline block;
  position:absolute;
  left:0;
  padding:15px;
  font-size:20px;
  color:white;
}
.nav ul{
  position:absolute;
  right:5px;
}
.nav ul li{
  display:inline-block;
}
.nav ul li a{
  color:white;
  padding:5px
}
.home{
 background:url("..images/homeBack.jpg");
 background-size:.cover;
 height:1oovvh;
}
.home .text-container{
  text-align:center;
  display:flex;
  align-items:center;  
  justify-content:center;
  height:90vh;
}
.about .about-content{
  margin:150px auto 0 auto;
  width:500
}
.about .about-content h1{
  text-align:center;
  font-family:'Roboto',sans-serif;
  color:Red
}
.about .about-content p{
  text-align:justify;
  font-family:'Lato',sans-serif;
  color:blue; 
}
.services .services-content{
  margin: 80px auto 0 auto;
  text-align:center;
}
.services-cotent .card-container ul{
   padding:0;
}
.services-content .card-container ul li{
  list-style:none;
  display:inline-block;
  margin:20px;
  widht:300px;
}
.service-content .card-container ul li p{
text-align:justify;
}
.services .services-content h1{
  font-family:'Roboto',sans-serif;
  color:Red
}
.service-content .card-container ul li p{
  text-align:justify;
  font-family:'Lato',sans-serif;
  color:blue; 
}
.contact .contact-content{
  margin:90px auto 0 auto;
  text-align:center;
}
.contact.contact-container{
  font-family:'Roboto',sans-serif;
  color:red
}
.contact .contact-container ul{
    margin:70px;
    text-align:center;
}
